.wraper-container {
    clear: both;
    min-height: 328px;
    width: 960px;
    margin: 20px 0 auto 10px;
    display: inline-block;
}

.left {
    float: left;
    width: 50%;
    padding-bottom: 20px;
    height: 100%;
}
.containers {
    width: 100%;
    height: 100%;
}

.mapContainer, .mapContainerGBIF {
    height: 600px;
    width: 48%;

}

.mapContainer {
    float: left;

}

.mapContainerGBIF {
    float: right;

}

.heading2 {
    font-size:2.5em;
    padding: 5px 0px 15px 10px;
    color: #333;
}

.heading3 {
    font-size:1.4em;
    padding-bottom: 5px;
    font-weight: bold;
    color: #168970;
}

.nombre-completo {
    font-size: 1.4em;
    padding: 0 20px;
}

.subtitulo {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#contribucionBarrasREUNA, #contribucionBarrasGBIF {
    margin: 20px 20px 0px 5px;
    height: 190px;
    width: 380px;
}

#acumuladas{
    height: 200px;
    width:370px;
}

#reunaGbifBarras {
    margin: 20px 35px 0px 35px;
    height: 190px;
    bottom: 0;
    width:380px;

}

#GbifBarrasmes {
    margin: 40px 35px 0px 35px;
    height: 190px;
    bottom: 0;
    width:380px;
}

.bignumber{
    font-size: 1.2em;
}
.busqueda {
    margin-top: 10px;
    margin-bottom: 10px;
}
#index{
    margin:20px 0 25px 0;
}
#left-index{
    float:left;
    width:48%;
    margin-right: 10px;
}
#left-t-index{
    background-color: #d9d9d9;
    padding:10px;
    width: auto;
    margin-bottom: 10px;
}
#left-b-index{
    padding: 10px;
    width: auto;
    background-color: #9fc5e8;
}
#right-index{
    float:left;
    width:50%;
}
#right-t-index{
    width:auto;
    background-color: #9fc5e8;
    padding:10px;
    margin-bottom: 10px;
}
#right-b-index{
    width:auto;
    background-color: #d9d9d9;
    padding:10px;
    height: 64px;
}

.parrafo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-justify: auto;
}

#institucionPieREUNA,#REUNATable{
    float: left;
    margin: 20px 20px 0px 0px;
    width: 92%;
}

#GBIFTable, #institucionPieGBIF {
    float: right;
    margin: 20px 0px 0px 0px;
    width: 95%;
    height:auto;
}

.key{
    float:left;
    width: 77%;
}
.key2{
    float:left;
    width: 33%;
}
.value{
    float:right;
    width: 20%;
    text-align:center;
}
.tableGraphElement{
    display: inline-block;
    height:15px;
    background-color:#999999;
}
.tableElement{
    clear:both;
    margin-bottom: 5px;
    overflow: hidden;
    border-bottom: 1px solid #a1a1a1;
    text-align: left;
    font-weight:bold;
    font-size:1.1em;

}
.vernacular{
    margin-top: 5px;
}
#GbifStacked{
    margin-left: -20px;
    height: 250px;
    bottom: 0;
}
#ReunaStacked{
    margin-left: -20px;
    height: 200px;
    bottom: 0;
}
#amount{
    border:0;
    position:relative;
    bottom: -36px;
    color:#f6931f;
    font-weight:bold;
}
#slider-range{
    clear: both;
    bottom: -30px;
}
.mapTitle{
    font-weight: bold;
    text-align: center;
}
.tableRow{
    color: #444444;
    font-weight: bold;
    width:87%;
    float: left;
}
#top-rb-index{
    background-color: #d9d9d9;
    padding: 10px;
    margin: 0 0 15px 0;
    height: 138px;
    width: 47%;
    float:right;
}
.title-a{
    color: #0b5394;
    font-size: 1.2em;
    margin:0 0 10px 0;
    font-weight: bolder;
}
.title-b{
    color: #fff;
    font-size: 1.2em;
    margin:0 0 10px 0;
    font-weight: bolder;
}
.line{
    margin-left: 10px;
}
.endline{
    margin: 10px 0 0px 10px;
}
#bottom-rb-index{
    background-color: #9fc5e8;
    padding:10px;
}
#left-index-a{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #9fc5e8;
}
#left-index-b{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #9fc5e8;
}

#summary1{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #9fc5e8;
}


.error {
    display: none;
}
/*
Instituciones
*/
.izq{
    float: left;
    margin-left: 10px;
}
.der{
    float:right;
    margin-right: 10px;

}
.mapContainerHorizontal{
    width:100%;
    height: 200px;
}
#rank{
    width:100%;
    height: 300px;
}

/*
Inao new layout
*/
.linea_hor{
    height: 1px;
    background-color: darkgrey;
}

.summary1{
    height: 400px;
    margin:20px;
    padding:20px;
    border: 1px solid #E9E5E3;
    box-shadow: 1px 1px 4px 0px #F0F0F0;
    border-radius:7px;
}

.summary-left{
    padding: 0;
    margin: 0;
    float:left;
    width:54%;
    font-size:1.2em;
}

#boxleft{
    padding: 80px 0 0 40px;
}

#summary-right{
    margin: 60px 40px 0 0;
    float:right;
    width:40%;
    text-align: center;
}

#right_geo{
    padding: 5px 30px 0px 0px;
    margin: 0px;
    float:right;
    width:33%;
    height:100%;
}

#geo-left{
    padding: 0px;
    margin: 0 0 0px 0;
    float:left;
    width:58%;
    height:100%;
    font-size:1.2em;
}

.GBIF{
    color:#53AD25;
}

.Reuna{
    color:black;
}

.regular{
    font-size: 1.2em;
}

.suave{
    color:darkgray;
    line-height:22px;
    font-size: 1.1em;
}

.highL{
    font-weight: bold;
    font-size: 1.2em;
}

.species{
    display: inline-block;
    width: auto;
}

.species::first-letter {
    text-transform: uppercase;
}

.titspecies{
    color:black;
    font-size:1.4em;
    font-weight: bold;
    display: inline-block;
}

.titspecies::first-letter {
    text-transform: uppercase;
}

.little {
    font-size: 0.9em;
}

.boxsec {
    height:700px;
    margin:20px;
    padding:20px;
    border: 1px solid #E9E5E3;
    box-shadow: 1px 1px 4px 0px #F0F0F0;
    border-radius:7px;
}

#boxtemp {
    height:630px;
    margin:20px;
    padding:20px;
    border: 1px solid #E9E5E3;
    box-shadow: 1px 1px 4px 0px #F0F0F0;
    border-radius:7px;
}

#boxinstit {
    height:700px;
    margin:20px;
    padding:20px;
    border: 1px solid #E9E5E3;
    box-shadow: 1px 1px 4px 0px #F0F0F0;
    border-radius:7px;
}

.boxinstituc {
    height:100%;
    margin:20px;
    padding:20px;
    border: 1px solid #D8DBDA;
    box-shadow: 1px 1px 4px 0px #DADDDC;
    border-radius:7px;

}

#temp-right {
    float:right;
    padding:15px 0 0 0;
    width:50%;
    text-align:center;
}

#temp-left {
    float:left;
    padding: 15px 0 0 0;
    width:50%;
    text-align:center;
}

/*
otras cosas
*/
#participacionAnual{
    height: 300px;
}
.sinGrafico{
    width: 380px;
    height: 190px;
    margin: 20px 20px 0 5px;
    font-size: 2em;
    display: inline-block;
    padding: 0 20% 0 20%;
}
.sinGrafico>span{
    vertical-align: middle;
}
.miniInst{
    color: #bababa;
    font-size: 0.7em;
    float:right;
    padding-right: 10px;
}
.tableFooter{
    display: block;
    float: none;
    margin: 40px 0 20px;
    text-align: center;
    color: darkgray;
    font-size: 1.1em;
    line-height: 22px;
}